@model IEnumerable<Core.Entities.Concrete.OperationClaim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roller</h1>
<p>
    <button type="button" class="btn btn-primary" onclick="openModal('/Claim/Create/','Yeni Rol Tanım')">Yeni Rol Ekle</button>
</p>
 
<table class="table">
    <thead>
        <tr>
            <th>
                Rol Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/claimModul.js" asp-append-version="true"></script>
}