@model IEnumerable<Entities.Concrete.Guide>

@{
    ViewData["Title"] = "Rehber Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rehber Listesi</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="openModal('/Guide/Create/','Yeni Rehber Tanım')">Yeni Rehber Tanımla</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Telefon Numarası</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <button type="button" class="btn btn-warning" onclick="openModal('/Guide/Edit/@item.GuideId','')">Düzenle</button>
                    <button type="button" class="btn btn-info" onclick="openModal('/Guide/Detail/@item.GuideId','')">Detay</button>
                    <button type="button" class="btn btn-danger" onclick="openModal('/Guide/Delete/@item.GuideId','')">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/guideModul.js" asp-append-version="true"></script>
}