@model TourCompany.Web.Models.ViewModels.LanguageCreateOrEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="container">

    <h4>Yabancı Dil Güncelleme</h4>
    <div>
        <a asp-action="Index" class="btn btn-primary px-4">Yabancı diller listesine git</a>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LanguageId" />
                        <div class="row mb-3">

                            <div class="col-sm-3">
                                <h6 class="mb-0">Dil Adı</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        </div>
                        

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Aktif Mi?</h6>
                            </div><div class="col-sm-9 text-secondary">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="submit" value="Kaydet" class="btn btn-primary px-4" />
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                    </div> 

                </div>
            </div>

        </div>
    </div>
</div>
