@model IEnumerable<Entities.Concrete.Language>

@{
    ViewData["Title"] = "Yabancı Dil Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yabancı Dil Listesi</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="openModal('/Language/Create','Yeni Dil Tanımı')">Yeni Dil Ekle</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Yabancı Dil Adı
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>                
                <td>
                    <button role="button" class="btn-warning" onclick="openModal('/Language/Edit/@item.LanguageId,'Dil Güncelle')">Düzenle</button>
                    <button class="btn-danger" onclick="openModal('/Language/Delete/@item.LanguageId,'Kaydı silmek istediğinizden emin misiniz?')">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/languageModul.js" asp-append-version="true"></script>
}