<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TourCompany.Web.styles.css" asp-append-version="true" />
    <link href="~/lib/toastify/css/toastify.min.css" rel="stylesheet" /> 
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("_MainMenuPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - TourCompany.Web
        </div>
    </footer>   
   
    <script src="~/lib/jquery/dist/jquery.js"></script>   
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> 
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>   
    <script src="~/js/site.js" asp-append-version="true"></script> 
    <script src="~/lib/toastify/js/toastify-js.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
