@model Entities.DTO.UserCreateOrEditViewModel

<div class="container">

    <div class="row">

        <div class="card">
            <div class="card-body">
                <form>
                    <input type="hidden" asp-for="Id" /> 
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Adı</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="FirstName" class="form-control" type="text" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Soyadı</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="LastName" class="form-control" type="text" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Kızlık Soyadı (Varsa)</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="MaidenName" class="form-control" type="text" />
                            <span asp-validation-for="MaidenName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">E-Mail</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="Email" class="form-control" type="text" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Aktif Mi?</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <input type="button" onclick="submitForEdit()" value="Güncelle" class="btn btn-primary px-4" />
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-4">
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.my-select').selectpicker();
    });
</script>
