@model IEnumerable<Entities.Concrete.Tour>

@{
    ViewData["Title"] = "Tur Listesi | Tour-Ist Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tur Listesi</h1>
@if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate"))
{
    <p>
        <button type="button" class="btn btn-primary" onclick="openModal('/Tours/Create','Yeni Tur Tanımı')">Yeni Tur Tanımı</button>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Tur Adı
            </th>
            <th>
                Tur Tarihi
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TourDate)
                </td>
                <td>
                    @if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate") || User.IsInRole("guideuser"))
                    {
                        <button type="button" class="btn btn-info" onclick="openModal('/Tours/Detail/@item.TourId','Tur Detayı')">Detay</button>
                    }

                    @if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate"))
                    {
                        <button type="button" class="btn btn-warning" onclick="openModal('/Tours/Edit/@item.TourId','Tur Güncelle')">Düzenle</button>
                        <button type="button" class="btn btn-danger" onclick="openModal('/Tours/Delete/@item.TourId','Turu Sil')">Sil</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/tourModul.js" asp-append-version="true"></script>

}