@model IEnumerable<Entities.Concrete.Nationality>

@{
    ViewData["Title"] = "Uyruk Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Uyruk Listesi</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="openModal('/Nationality/Create/','Yeni Uyruk Tanımı')">Yeni Uyruk Tanım</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Uyruk Adı
            </th> 
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td> 
                <td>
                    <button type="button" class="btn btn-warning" onclick="openModal('/Nationality/Edit/@item.NationalityId,'Uyruk Güncelle')">Düzenle</button>
                    <button type="button" class="btn btn-danger" onclick="openModal('/Nationality/Delete/@item.NationalityId,'Kaydı silmek istediğinizden emin misiniz?')">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/nationalityModul.js" asp-append-version="true"></script>
}