@model IEnumerable<Entities.Concrete.Country>

@{
    ViewData["Title"] = "Ülke Listesi | Tour-Ist Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ülke Listesi</h1>

@if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate"))
{
    <p>
        <button type="button" class="btn btn-primary" onclick="openModal('/Country/Create/','Yeni Ülke Tanım')">Yeni Ülke Ekle</button>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Ülke Adı
            </th>
            @if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate"))
            {
                <th>İşlemler</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @if (User.IsInRole("superadmin.editorupdate") || User.IsInRole("salesperson.editorupdate"))
                    {
                        <button role="button" class="btn  btn-warning" onclick="openModal('/Country/Edit/@item.CountryId','Ülke Düzenle')">Düzenle</button>
                        <button class="btn btn-danger" onclick="openModal('/Country/Delete/@item.CountryId','Ülke Sil')">Sil</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/countryModul.js" asp-append-version="true"></script>
}